{% extends 'base.html' %}

{% block body %}

<div id="register-alert" class="alert alert-warning d-none" role="alert"></div>

<form action="{{ url_for('mfa.setup_webauthn') }}" method="POST" class="form">
<div class="form-group">
	<label for="name">Authenticator Name</label>
	<input name="name" type="text" id="method-name" class="form-control" required="required">
</div>
<div class="form-group">
	<button type="submit" id="register-btn" class="btn btn-primary btn-block">
		<span id="register-spinner" class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
		<span id="register-btn-text">Register token</span>
	</button>
</div>
</form>

<script src="{{ url_for('static', filename="cbor.js") }}"></script>
<script>

$('form').on('submit', function(e) {
	$('#register-alert').addClass('d-none');
	$('#register-spinner').removeClass('d-none');
	$('#register-btn-text').text('Contacting server');
	$('#register-btn').prop('disabled', true);
	fetch({{ url_for('mfa.setup_webauthn_begin')|tojson }}, {
		method: 'POST',
	}).then(function(response) {
		if(response.ok) return response.arrayBuffer();
		throw new Error('Error getting registration data!');
	}).then(CBOR.decode).then(function(options) {
		$('#register-btn-text').text('Waiting for response from your device');
		return navigator.credentials.create(options);
	}).then(function(attestation) {
		return fetch({{ url_for('mfa.setup_webauthn_complete')|tojson }}, {
			method: 'POST',
			headers: {'Content-Type': 'application/cbor'},
			body: CBOR.encode({
				"attestationObject": new Uint8Array(attestation.response.attestationObject),
				"clientDataJSON": new Uint8Array(attestation.response.clientDataJSON),
				"name": $('#method-name').val()
			})
		});
	}).then(function(response) {
		if (response.ok) {
			$('#register-spinner').addClass('d-none');
			$('#register-btn-text').text('Success');
			window.location = {{ url_for('mfa.setup')|tojson }};
		} else {
		throw new Error('Server rejected authenticator response');
		}
	}, function(reason) {
		$('#register-alert').text('Registration failed!');
		$('#register-alert').removeClass('d-none');
		$('#register-spinner').addClass('d-none');
		$('#register-btn-text').text('Retry registration');
		$('#register-btn').prop('disabled', false);
	});
	return false;
});
</script>

{% endblock %}
