{% extends 'base.html' %}

{% block body %}

<div class="btn-toolbar">
	<a class="btn btn-primary mb-2 ml-auto" href="{{ url_for('mfa.setup_totp') }}">Setup TOTP</a>
</div>

{% if methods %}
<table class="table">
	<thead>
		<tr>
			<th scope="col" colspan=2>Name</th>
			<th scope="col">Registered On</th>
			<th scope="col"></th>
		</tr>
	</thead>
	<tbody>
		{% for method in methods %}
		<tr>
			<td style="width: 0.5em;"><i class="fas fa-mobile-alt"></i></td>
			<td>{{ method.name }}</td>
			<td>{{ method.created }}</td>
			<td><a class="btn btn-sm btn-danger float-right" href="{{ url_for('mfa.delete_totp', id=method.id) }}">Delete</a></td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% else %}
<div class="alert alert-info" role="alert">
	You have not setup any two-factor methods yet!
</div>
{% endif %}

{% endblock %}
