{% extends 'base.html' %}

{% block main %}
<main role="main" class="container mt-3">
	<div class="row justify-content-center">
		<div class="col-lg-6 col-md-10 px-0">
			<div class="row">
				{% for category, message in get_flashed_messages(with_categories=true) %}
				<div class="col-12">
					<div class="alert alert-{{ 'danger' if category == 'error' else 'warning' if category == 'warning' else 'primary' }}" role="alert">{{ message }}</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
	<div class="row justify-content-center">
		<div class="col-lg-6 col-md-10 narrow-card">
			<div class="text-center">
				<img alt="branding logo" src="{{ config.get("BRANDING_LOGO_URL") }}" class="col-lg-8 col-md-12" >
			</div>
			{% block body %}
			{% endblock body %}
		</div>
	</div>
</main>
{% endblock main %}
