Source: uffd
Section: python
Priority: optional
Maintainer: CCCV <it@cccv.de>
Build-Depends:
 debhelper-compat (= 12),
 dh-python,
 python3-all,
 python3-setuptools,
Standards-Version: 4.5.0
Homepage: https://git.cccv.de/uffd/uffd
Vcs-Git: https://git.cccv.de/uffd/uffd.git

Package: uffd
Architecture: any
Depends:
 ${misc:Depends},
 ${python3:Depends},
 python3-ldap3,
 python3-flask,
 python3-flask-sqlalchemy,
 python3-flask-migrate,
 python3-qrcode,
 python3-fido2,
 python3-flask-oauthlib,
 python3-flask-babel,
 nginx,
 uwsgi,
 uwsgi-plugin-python3,
Description: UserFerwaltungsFrontend: Ldap based single sign on and user management web software
