Source: uffd
Section: python
Priority: optional
Maintainer: CCCV <it@cccv.de>
Build-Depends:
 debhelper-compat (= 12),
 dh-python,
 python3-all,
 python3-setuptools,
Standards-Version: 4.5.0
Homepage: https://git.cccv.de/uffd/uffd
Vcs-Git: https://git.cccv.de/uffd/uffd.git

Package: uffd
Architecture: all
Depends:
 ${misc:Depends},
# Unlike most debian python packages, we depend directly on the deb packages and do not want to populate our dependencies from the setup.py .
# Because of this we do not use the variable from pybuild.
# ${python3:Depends},
 python3-ldap3,
 python3-flask,
 python3-flask-sqlalchemy,
 python3-flask-migrate,
 python3-qrcode,
 python3-fido2,
 python3-oauthlib,
 python3-flask-babel,
 uwsgi,
 uwsgi-plugin-python3,
Recommends:
 nginx,
Description: UserFerwaltungsFrontend: Ldap based single sign on and user management web software
