{% extends 'base.html' %}

{% block body %}
<form action="{{ url_for("role.update", roleid=role.id) }}" method="POST">
<div class="align-self-center">
	<div class="form-group col">
		<label for="role-name">Role Name</label>
		<input type="text" class="form-control" id="role-name" name="name" value="{{ role.name }}">
		<small class="form-text text-muted">
		</small>
	</div>
	<div class="form-group col">
		<label for="role-description">Description</label>
		<textarea class="form-control" id="role-description" name="description" rows="5">{{ role.description }}</textarea>
		<small class="form-text text-muted">
		</small>
	</div>
	<div class="form-group col">
		<span>Included groups</span>
		<table class="table table-striped table-sm">
			<thead>
				<tr>
					<th scope="col"></th>
					<th scope="col">name</th>
					<th scope="col">description</th>
				</tr>
			</thead>
			<tbody>
				{% for group in groups|sort(attribute="name") %}
				<tr id="group-{{ group.gid }}">
					<td>
						<div class="form-check">
							<input class="form-check-input" type="checkbox" id="group-{{ group.gid }}-checkbox" name="group-{{ group.gid }}" value="1" aria-label="enabled" {% if group.dn in role.group_dns() %}checked{% endif %}>
						</div>
					</td>
					<td>
						<a href="{{ url_for("group.show", gid=group.gid) }}">
							{{ group.name }}
						</a>
					</td>
					<td>
						{{ group.description }}
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	<div class="form-group col">
		<p>
			Members
		</p>
		<ul>
		{% for member in role.members %}
		<li>{{ member.dn }}</li>
		{% endfor %}
		</ul>
	</div>

	<div class="form-group col">
		<button type="submit" class="btn btn-primary"><i class="fa fa-save" aria-hidden="true"></i> Save</button>
		<a href="{{ url_for("role.index") }}" class="btn btn-secondary">Cancel</a>
		{% if role.id %}
			<a href="{{ url_for("role.delete", roleid=role.id) }}" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i> Delete</a>
		{% else %}
			<a href="#" class="btn btn-danger disabled"><i class="fa fa-trash" aria-hidden="true"></i> Delete</a>
		{% endif %}
	</div>
</div>
</form>
{% endblock %}
