{% extends 'base.html' %}

{% block body %}
<div class="row">
	<div class="col">
		<table class="table table-striped">
			<thead>
				<tr>
					<th scope="col">gid</th>
					<th scope="col">name</th>
					<th scope="col">description</th>
				</tr>
			</thead>
			<tbody>
				{% for group in groups|sort(attribute="gid") %}
				<tr id="group-{{ group.gid }}">
					<th scope="row">
						{{ group.gid }}
					</th>
					<td>
						<a href="{{ url_for("group.show", gid=group.gid) }}">
							{{ group.name }}
						</a>
					</td>
					<td>
						{{ group.description }}
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</dev>
{% endblock %}
