{% extends 'base.html' %}

{% block body %}
<form action="{{ url_for("group.show", gid=group.gid) }}" method="POST">
<div class="align-self-center">
	<div class="form-group col">
		<label for="group-gid">gid</label>
		<input type="number" class="form-control" id="group-gid" name="gid" value="{{ group.gid }}" readonly>
	</div>
	<div class="form-group col">
		<label for="group-loginname">name</label>
		<input type="text" class="form-control" id="group-loginname" name="loginname" value="{{ group.name }}" readonly>
	</div>
	<div class="col"> 
		<span>Members:</span>
		<ul class="list-group">
		{% for member in group.get_members() %}
		<li class="list-group-item"><a href="{{ url_for("user.show", uid=member.uid) }}">{{ member.loginname }}</a></li>
		{% endfor %}
		</ul>
	</div>
</div>
</form>
{% endblock %}
