{% extends 'base.html' %}

{% block body %}
<form action="{{ url_for("user.update", uid=user.uid) }}" method="POST">
<div class="align-self-center">
	<div class="form-group col">
		<label for="user-uid">uid</label>
		{% if user.uid %}
		<input type="number" class="form-control" id="user-uid" name="uid" value="{{ user.uid }}" readonly>
		{% else %}
		<input type="string" class="form-control" id="user-uid" name="uid" placeholder="will be choosen" readonly>
		{% endif %}
	</div>
	<div class="form-group col">
		<label for="user-loginname">Login Name</label>
		<input type="text" class="form-control" id="user-loginname" name="loginname" value="{{ user.loginname }}" {% if user.uid %}readonly{% endif %}>
		<small class="form-text text-muted">
			Only letters, numbers and underscore ("_") are allowed. At most 32, at least 2 characters. There is a word blacklist. Musst be unique.
		</small>
	</div>
	<div class="form-group col">
		<label for="user-loginname">Display Name</label>
		<input type="text" class="form-control" id="user-displayname" name="displayname" value="{{ user.displayname }}">
		<small class="form-text text-muted">
			If you leave this empty it will be set to the login name. At most 128, at least 2 characters. No character restrictions.
		</small>
	</div>
	<div class="form-group col">
		<label for="user-mail">Mail</label>
		<input type="email" class="form-control" id="user-mail" name="mail" value="{{ user.mail }}">
		<small class="form-text text-muted">
			Do a sanity check here. A user can take over another account if both have the same mail address set.
		</small>
	</div>
	<div class="form-group col">
		<label for="user-loginname">Password</label>
		{% if user.uid %}
		<input type="password" class="form-control" id="user-password" name="password" placeholder="●●●●●●●●">
		{% else %}
		<input type="password" class="form-control" id="user-password" name="password" placeholder="mail to set it will be sent" readonly>
		{% endif %}
		<small class="form-text text-muted">
			At least 8 characters, no other special requirements. But please don't be stupid and use a password manager.
		</small>
	</div>
	{% if user.uid %}
	<div class="form-group col "id="accordion">
		<div class="card">
			<div class="card-header" id="user-ldif">
				<h5 class="mb-0">
					<a class="btn btn-link collapsed" data-toggle="collapse" data-target="#user-ldif-body" aria-expanded="false" aria-controls="user-ldif">
						ldif
					</a>
				</h5>
			</div>
			<div id="user-ldif-body" class="collapse" aria-labelledby="user-ldif" data-parent="#accordion">
				<div class="card-body">
					<pre>{{ user_ldif }}</pre>
				</div>
			</div>
		</div>
		<div class="card">
			<div class="card-header" id="user-group">
				<h5 class="mb-0">
					<a class="btn btn-link collapsed" data-toggle="collapse" data-target="#user-group-body" aria-expanded="false" aria-controls="user-group">
						groups
					</a>
				</h5>
			</div>
			<div id="user-group-body" class="collapse" aria-labelledby="user-group" data-parent="#accordion">
				<div class="card-body">
					<ul class="list-group">
					{% for group in user.get_groups() %}
					<li class="list-group-item"><a href="{{ url_for("group.show", gid=group.gid) }}">{{ group.name }}</a></li>
					{% endfor %}
					</ul>
				</div>
			</div>
		</div>
		<div class="card">
			<div class="card-header" id="user-role">
				<h5 class="mb-0">
					<a class="btn btn-link" data-toggle="collapse" data-target="#user-role-body" aria-expanded="true" aria-controls="user-role">
						roles
					</a>
				</h5>
			</div>
			<div id="user-role-body" class="collapse show" aria-labelledby="user-role" data-parent="#accordion">
				<div class="card-body">
					roles.
				</div>
			</div>
		</div>
	</div>
	{% endif %}
	<div class="form-group col">
		<button type="submit" class="btn btn-primary"><i class="fa fa-save" aria-hidden="true"></i> Save</button>
		<a href="{{ url_for("user.index") }}" class="btn btn-secondary">Cancel</a>
		{% if user.uid %}
			<a href="{{ url_for("user.delete", uid=user.uid) }}" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i> Delete</a>
		{% else %}
			<a href="#" class="btn btn-danger disabled"><i class="fa fa-trash" aria-hidden="true"></i> Delete</a>
		{% endif %}
	</div>
</div>
</form>
{% endblock %}
